# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/

# Envs/segredos locais
.env
.env.*

# VS Code
.vscode/
*.code-workspace

# SO / lixo comum
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log